[submodule "web/lab4/backend"]
	path = web/lab4/backend
	url = https://github.com/fefumo/PrecisionArc-backend
[submodule "web/lab4/frontend"]
	path = web/lab4/frontend
	url = https://github.com/fefumo/PrecisionArc-frontend