<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Lab2 Web Application</display-name>

    <!-- Servlet definitions -->
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>ifmo.se.ControllerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AreaCheckServlet</servlet-name>
        <servlet-class>ifmo.se.AreaCheckServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AreaCheckServlet</servlet-name>
        <url-pattern>/areaCheck</url-pattern>
    </servlet-mapping>

    <!-- Welcome file (default page) -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>